$background-light: #3E4452;
$background-lighter: #2C323C;
$background-lighter1: #313541;
$background-medium: #282C34;
$background-dark: #23272E;
$background-very-dark: #1C1F24;
// if you like it a bit lighter:
// $background-very-dark: #202328;

$text-very-light: #BBC2CF;
$text-light: #ABB2BF;
$text-medium: #868E95;
$text-dark: #4B5263;
$join-guild: #91cc66;

// whether the textarea should be monospaced
$monospaced-textarea: false;
$monospaced-font: 'Iosevka SS09';

// the border radius on the right side of a connected or selected channel
$channel-border-radius: 4px;

// the border radius of boxes like embeds
$box-border-radius: 5px;
$small-box-border-radius: 3px;

// after what size vertical scrollbars should be enabled inside large code blocks
// set to false if no scrollbar should be enabled
$min-code-scrollbar: 35em;

$class-prefix: 'pc';

@import 'custom';

// just a shorthand in code
$clp: $class-prefix;

@import 'styles/scrollbar', 'styles/chat', 'styles/code';
@import 'styles/channels', 'styles/members', 'styles/popout';
@import 'styles/title', 'styles/popups';
@import 'styles/guilds';
@import 'styles/settings';
