.theme-dark {
    .#{$clp}-channels > .#{$clp}-container {
        background-color: $background-dark;

        .#{$clp}-scroller {
            @include scrollbar-thin;
        }

        div[class^="container-"] {
            .#{$clp}-header {
                color: $text-light;
                box-shadow: none;

                .#{$clp}-verifiedInner:not(.#{$clp}-banner) {
                    fill: $text-medium;
                }
            }

            .#{$clp}-containerDefault {
                :first-child {
                    .#{$clp}-icon,
                    .#{$clp}-name {
                        color: $text-light;
                    }
                }
                margin-right: 5px;

                @mixin selected {
                    border-top-right-radius: $channel-border-radius;
                    border-bottom-right-radius: $channel-border-radius;
                    transition: background-color 0.2s ease-in-out;
                }

                .#{$clp}-iconVisibility:hover {
                    @include selected;
                    background-color: $background-medium;
                }

                div[class*="modeSelected-"]:hover,
                div[class*="modeConnected-"]:hover {
                    @include selected;
                    background-color: $background-light;
                }

                div[class*="modeSelected-"],
                div[class*="modeConnected-"] {
                    @include selected;
                    cursor: default;
                    background-color: $background-lighter1;
                }

                .#{$clp}-list .#{$clp}-content:hover {
                    @include selected;
                    border-top-left-radius: $channel-border-radius;
                    border-bottom-left-radius: $channel-border-radius;
                    background-color: $background-medium;
                }

                div[class*="modeUnread-"] {
                    .#{$clp}-icon,
                    .#{$clp}-name {
                        color: $text-very-light;
                    }

                    .#{$clp}-unread {
                        background-color: $text-very-light;
                    }
                }

                div[class*="modeMuted-"] .#{$clp}-content {
                    .#{$clp}-icon,
                    .#{$clp}-name {
                        color: $text-dark;
                    }
                }

                // no need to hide the user limit
                .#{$clp}-iconVisibility .#{$clp}-userLimit {
                    display: block;
                }

                .#{$clp}-content {
                    background-color: transparent;

                    .#{$clp}-icon,
                    .#{$clp}-name {
                        color: $text-medium;
                    }

                    .#{$clp}-userLimit {
                        .#{$clp}-users {
                            color: $text-light;
                            background-color: $background-light;
                        }

                        .#{$clp}-total {
                            color: $text-light;
                            background-color: $background-lighter;

                            &:after {
                                background-color: $background-light;
                                border-right-color: $background-lighter;
                            }
                        }
                    }
                }

                .#{$clp}-list .#{$clp}-voiceUser {
                    .#{$clp}-username,
                    .#{$clp}-icon {
                        color: $text-medium;
                    }
                }
            }
        }
    }

    .#{$clp}-privateChannels {
        background-color: $background-dark;

        .#{$clp}-searchBarComponent {
            background-color: $background-light;

            ::placeholder {
                color: $text-medium;
            }
        }

        .#{$clp}-scroller {
            > header {
                color: $text-light;
                opacity: 1;
            }

            .#{$clp}-channel {
                .#{$clp}-linkButtonIcon  {
                    color: $text-medium;
                }

                .#{$clp}-name {
                    color: $text-medium;
                }
            }
        }
    }
}
