@import 'scrollbar';

.theme-dark {
    .#{$clp}-content {
        background-color: $background-medium;
    }

    .#{$clp}-messagesWrapper {
        background-color: $background-medium;
    }

    .#{$clp}-markup {
        color: $text-light;
    }

    .#{$clp}-messageCozy {
        .#{$clp}-embed {
            .#{$clp}-embedPill {
                display: none;
            }

            .#{$clp}-embedInner {
                background-color: $background-dark;
                border-style: none;
                border-radius: $box-border-radius;

                .#{$clp}-embedTitle {
                    color: $text-light !important;
                }

                .#{$clp}-embedAuthorName,
                .#{$clp}-embedFieldName,
                .#{$clp}-embedProvider {
                    color: $text-light !important;
                }

                .#{$clp}-embedDescription,
                .#{$clp}-embedFieldValue {
                    color: $text-light;
                    border-left: solid 4px $background-lighter1;
                    padding-left: 3px;
                }

                .#{$clp}-embedFooterText {
                    color: $text-light;
                }
            }
        }

        // invites
        .#{$clp}-userSelectNone {
            background-color: $background-dark;
            border-style: none;
            border-radius: $box-border-radius;

            .#{$clp}-content {
                background-color: $background-dark;

                .#{$clp}-guildIcon {
                    background-color: $background-lighter1;
                    color: $text-light;
                }

                .#{$clp}-guildName {
                    color: $text-light;
                }

                .#{$clp}-guildDetail {
                    color: $text-medium;
                }

                button {
                    border-style: none;
                    border-radius: $small-box-border-radius;

                    background-color: $background-lighter1;
                    color: $text-light;

                    &:hover {
                        background-color: $background-light;
                    }

                    &[class*="colorGreen-"] {
                        color: $text-dark;
                        background-color: $join-guild;

                        &:hover {
                            background-color: darken($join-guild, 15%);
                        }
                    }
                }
            }
        }
    }

    .#{$clp}-chat {
        background-color: $background-medium;

        .#{$clp}-channelTextArea .#{$clp}-inner {
            background-color: $background-light;
        }

        .#{$clp}-textArea {
            color: $text-light;

            @if $monospaced-textarea {
                font-family: $monospaced-font;
            }

            &::-webkit-input-placeholder {
                color: $text-medium;
            }
        }

        form {
            background-color: $background-medium;

            .#{$clp}-typing {
                background-color: $background-medium;

                .#{$clp}-text {
                    color: $text-light;
                }
            }
        }

        .#{$clp}-scroller {
            @include scrollbar;
        }
    }

    .#{$clp}-autocomplete {
        background-color: $background-dark;

        .#{$clp}-contentTitle {
            color: $text-medium;

            strong {
                color: $text-light;
            }
        }

        .#{$clp}-selectorSelected {
            background-color: $background-lighter1;
        }

        .#{$clp}-content {
            background-color: transparent;
            color: $text-light;

            .#{$clp}-description,
            .#{$clp}-descriptionUsername {
                color: $text-medium;
            }

            .#{$clp}-descriptionDiscriminator {
                color: $text-dark;
            }
        }
    }
}
