.theme-dark .#{$clp}-wrapper .#{$clp}-scroller {
    background-color: $background-very-dark;

    .#{$clp}-guildSeparator {
        background-color: $background-lighter1;
    }

    .#{$clp}-listItem {
        .#{$clp}-item {
            background-color: $text-very-light;
        }

        .#{$clp}-acronym,
        .#{$clp}-button,
        .#{$clp}-circleIconButton {
            background-color: $background-lighter1;
            color: $text-light;
        }
    }
}
