.theme-dark .#{$clp}-userPopout {
    .#{$clp}-headerNormal,
    .#{$clp}-headerPlaying,
    .#{$clp}-headerSpotify {
        background-color: $background-dark;

        .#{$clp}-headerName {
            color: $text-light;
        }

        .#{$clp}-headerTag,
        .username {
            color: $text-light;

            .discriminator {
                color: $text-medium;
            }
        }

        .#{$clp}-activity {
            color: $text-medium;
            background-color: $background-dark;
            border-style: none;

            .#{$clp}-headerText {
                color: $text-light;
            }

            .#{$clp}-body {
                color: $text-medium;
                background-color: $background-dark;

                .#{$clp}-content {
                    color: $text-medium;
                    background-color: $background-dark;

                    .#{$clp}-activityName {
                        color: $text-light;
                    }
                }
            }

            .#{$clp}-timeBarUserPopout {
                .#{$clp}-bar {
                    background-color: $background-lighter1;

                    .#{$clp}-barInner {
                        background-color: $background-light;
                    }
                }

                .#{$clp}-text {
                    color: $text-light;
                }
            }

            button {
                background-color: $background-lighter1;
                border-style: none;
                color: $text-light;

                transition: background-color .17s ease;

                &:hover {
                    background-color: $background-light;
                }
            }
        }
    }

    .#{$clp}-body {
        background-color: $background-medium;

        .#{$clp}-bodyTitle {
            color: $text-medium;
        }

        .#{$clp}-note textarea {
            color: $text-light;

            &:focus {
                background-color: $background-lighter1;
            }

            &::-webkit-input-placeholder {
                color: $text-medium;
            }
        }
    }

    .#{$clp}-footer {
        background-color: $background-medium;

        .#{$clp}-quickMessage {
            background-color: $background-lighter1;
            color: $text-light;

            &::-webkit-input-placeholder {
                color: $text-medium;
            }
        }

        .#{$clp}-tip {
            color: $text-medium;
        }
    }
}
