.theme-dark > .#{$clp}-modal > .#{$clp}-inner  {
    box-shadow: none;

    .#{$clp}-modal {
        .#{$clp}-header {
            background-color: $background-dark;
            padding: 15px;
        }

        > .#{$clp}-content {
            border-radius: 0;

            padding-top: 20px;
        }
    }
}
