.theme-dark .#{$clp}-standardSidebarView {
    .#{$clp}-item {
        color: $text-light;
    }
    .#{$clp}-note,
    .#{$clp}-description {
        color: $text-medium;
    }
    .#{$clp}-cardPrimary,
    .#{$clp}-cardPrimaryEditable,
    .#{$clp}-select,
    .#{$clp}-hasValue {
        border-style: none;
        background-color: $background-dark;
        color: $text-light;
        .css-15ejc46-control,
        .css-2yldzf-control {
            border-style: none;
        }
    }
    .#{$clp}-sidebarRegion {
        background-color: $background-dark;
        .#{$clp}-sidebar {
            .#{$clp}-selected {
                background-color: $background-medium;
            }
            .#{$clp}-item:hover {
                background-color: $background-lighter;
            }
        }
    }
    .#{$clp}-contentRegion {
        background-color: $background-medium;
    }
}
